:root {
  --dark: rgb(12, 27, 54);
  --white: white;
  --black: black;
  --center: center;
  --link: cornflowerblue;
  --border: solid black 1px;
  --none: none;
}

/* Mobile-first */

body {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

header {
  display: flex;
  flex-direction: column;
  text-align: var(--center);
  padding: 1.4%;
  background-color: var(--dark);
  color: var(--white);
}

h1 {
  font-size: 36px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: var(--center);
}

.flex-1 {
  background-color: var(--white);
  flex: 100%;
  border-top: var(--border);
  border-bottom: 0px;
  border-left: var(--border);
  border-right: solid black 1px;
  font-size: 24px;
  text-decoration: var(--none);
  color: var(--black)
}

.flex-2 {
  background-color: var(--white);
  flex: 100%;
  border-top: solid black 1px;
  border-bottom: var(--border);
  border-left: solid black 1px;
  border-right: var(--border);
  font-size: 24px;
  text-decoration: var(--none);
  color: var(--black);
}

.article-links {
  text-decoration: underline;
  font-weight: 900;
}

.article-links:link {
  color: var(--link);
}

.article-links:visited {
  color: var(--link);
}

.article-links:hover {
  color: red
}

.article-links:active {
  color: orange
}

.me {
  max-width: 100%;
  border: solid black 1px;
  border-top: 1px;
}

.article-1 {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  color: var(--black)
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.content-2 {
  display: flex;
  flex-direction: row;
}

.p-1 {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}

.screenshot {
  display: flex;
  max-width: 100%;
  border: solid black 1px;
}

.adaptive {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.placeholder-img {
  border: solid black 1px;
  width: 100%;
}

.placeholder-2 {
  border: solid black 1px;
  width: 100%;
}

footer {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.footer-refs-1 {
  text-align: center;
  margin-top: 4px;
  flex: 100%;
}

.footer-refs-2 {
  text-align: center;
  margin-top: 0px;
  flex: 100%;
}

.git {
  max-width: 30%;
}

.in {
  max-width: 15%;
}

/* Tablet */
@media screen and (min-width: 768px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-1 {
    border: var(--border);
    align-items: center;
    flex: 50%;
  }

  .flex-2 {
    border: var(--border);
    border-top: 0px;
    align-items: center;
    flex: 50%;
  }

  .me {
    max-width: 50%;
    border-top: solid black 1px;
  }

  .p-1{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }

  .article-1  {
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 0px 50px
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } 

  .screenshot {
    max-width: 100%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }

  .ancestor {
    background-color: var(--link);
    padding: 0% 10% 0% 10%;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .adaptive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .placeholder-img {
    margin: 2% 0px 2% 0px; /* Top, Right, Bottom, Left */
    border: solid lightblue 20px;
    width: 49%;
  }

  .placeholder-2 {
    margin: 0% 0px 2% 0px;
    border: solid lightblue 20px;
    width: 49%;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8% 0 8%;
    max-height: 100px;
  }

  .footer-refs-1 {
    text-align: center;
    flex: 100%;
  }
  
  .footer-refs-2 {
    text-align: center;
    flex: 100%;
    margin-top: 4px;
  }

  .git {
    max-width: 30%;
  }
  
  .in {
    max-width: 16%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {

  .flex-container {
    flex-direction: row;
  }

  .flex-1 {
    border: var(--border);
    align-items: center;
    flex: 50%;
    border-right: 0px;
  }

  .flex-2 {
    border: var(--border);
    align-items: center;
    flex: 50%;
  }

  .me {
    border-top: solid black 1px;
    max-width: 45%;
  }

  .p-1 {
    padding: 20px;
    text-align: justify;
  }

  .screenshot {
    border: solid lightblue 20px;
    max-width: 100%;
  }

  .ancestor {
    background-color: var(--link);
    padding: 0% 20% 0% 20%;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .adaptive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .placeholder-img {
    margin: 2% 0px 2% 0px; /* Top, Right, Bottom, Left */
    border: solid lightblue 20px;
    width: 49%;
  }

  .placeholder-2 {
    margin: 0% 0px 2% 0px;
    border: solid lightblue 20px;
    width: 49%;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20% 0 20%;
  }

  .footer-refs-1 {
    text-align: center;
    margin-top: 4px;
    flex: 100%;
  }
  
  .footer-refs-2 {
    text-align: center;
    margin-top: 10px;
    flex: 100%;
  }

  .git {
    max-width: 20%;
  }
  
  .in {
    max-width: 8%;
  }
}