:root {
  --dark: rgb(12, 27, 54);
  --white: white;
  --black: black;
  --center: center;
  --bg2: cornflowerblue;
  --border: solid black 1px;
  --imgborder: solid lightblue 20px;
  --none: none;
}

/* Mobile-first */

body {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  background-color: cornflowerblue;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  text-align: var(--center);
  padding: 1.4%;
  background-color: var(--dark);
  color: var(--white);
}

h1 {
  font-size: 36px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: var(--center);
}

.flex-1 {
  background-color: var(--white);
  flex: 100%;
  border-top: var(--border);
  border-bottom: 0px;
  border-left: var(--border);
  border-right: solid black 1px;
  font-size: 24px;
  text-decoration: var(--none);
  color: var(--black)
}

.flex-2 {
  background-color: var(--white);
  flex: 100%;
  border-top: solid black 1px;
  border-bottom: var(--border);
  border-left: solid black 1px;
  border-right: var(--border);
  font-size: 24px;
  text-decoration: var(--none);
  color: var(--black);
}

.me {
  max-width: 100%;
  border: solid black 1px;
  border-top: 1px;
}

.article-1 {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  color: var(--black)
}

.column {
  position: relative;
}

.text-block {
  position: absolute;
  background-color: lightblue;
  color: var(--black);
  padding: 5px 5px 5px 30px;
  bottom: 0px;
  z-index: 1;
  text-align: right;
  border-right: solid cornflowerblue 10px;
}

.p-1 {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.space {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 15px 0;
  background-color: lightblue;
  justify-content: center;
}

li:nth-child(2) {
  padding: 0 40px 0 40px;
}

.screenshot {
  display: flex;
  max-width: 100%;
  border: solid black 1px;
}

.adaptive {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.placeholder-1 {
  border: solid black 1px;
  width: 100%;
  vertical-align: bottom;
}

.placeholder-2 {
  border: solid black 1px;
  width: 100%;
  vertical-align: bottom;
}

footer {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.footer-refs-1 {
  text-align: center;
  margin-top: 4px;
  flex: 100%;
}

.footer-refs-2 {
  text-align: center;
  margin-top: 0px;
  flex: 100%;
}

.git {
  max-width: 30%;
}

.in {
  max-width: 15%;
}

/* Tablet */
@media screen and (min-width: 768px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-1 {
    border: var(--border);
    align-items: center;
    flex: 50%;
  }

  .flex-2 {
    border: var(--border);
    border-top: 0px;
    align-items: center;
    flex: 50%;
  }

  .me {
    max-width: 50%;
    border-top: solid black 1px;
  }

  .p-1{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-align: center;
  }

  .article-1  {
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 0px 50px
  }

  .space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10% 20px 10%;
    background-color: lightblue;
  }

  li:nth-child(2) {
    padding: 0 40px 0 40px;
  }

  .screenshot {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: var(--imgborder);
  }

  .screenshot:hover {
    transition: ease-in-out .2s;
    box-shadow: 2px 2px 5px black;
  }

  .text-block {
    position: absolute;
    background-color: lightblue;
    color: var(--black);
    bottom: 99px;
    left: 5%;
    padding: 5px 5px 5px 30px;
    z-index: 1;
    text-align: right;
    border-right: solid cornflowerblue 10px;
  }

  .link-main {
    margin: 0 5% 0 5%;
  }

  .link-1 {
    margin: 10px 5px 0 5%;
    width: 50%;
  }

  .link-2 {
    margin: 10px 5% 0 5px;
    width: 50%;
  }

  .link-3 {
    margin: 10px 5px 0 5%;
    width: 50%;
  }

  .link-4 {
    margin: 10px 5% 0px 5px;
    width: 50%;
  }

  .link-main:hover,
  .link-1:hover,
  .link-2:hover,
  .link-3:hover,
  .link-4:hover {
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out .2s;
  }

  .column {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .adaptive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .adaptive-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .placeholder-1 { /* Top, Right, Bottom, Left */
    border: solid lightblue 20px;
    width: 100%;
    vertical-align: bottom;
  }

  .placeholder-2 {
    border: solid lightblue 20px;
    width: 100%;
    vertical-align: bottom;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8% 0 8%;
    max-height: 100px;
  }

  .footer-refs-1 {
    text-align: center;
    flex: 100%;
    margin-top: 1%;
  }
  
  .footer-refs-2 {
    text-align: center;
    flex: 100%;
    margin-top: 4px;
  }

  .git {
    max-width: 30%;
  }
  
  .in {
    max-width: 16%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {

  .flex-container {
    flex-direction: row;
  }

  .flex-1 {
    border: var(--border);
    align-items: center;
    flex: 50%;
    border-right: 0px;
  }

  .flex-2 {
    border: var(--border);
    align-items: center;
    flex: 50%;
  }

  .me {
    border-top: solid black 1px;
    border-radius: 20px;
    max-width: 45%;
  }

  .article-1  {
    flex-direction: column;
    align-items: center;
    padding: 30px 2% 0px 2%
  }

  .p-1 {
    padding: 20px 20px 20px 20px;
    text-align: center;
  }

  .space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 15% 20px 15%;
    background-color: lightblue;
  }

  li:nth-child(2) {
    padding: 0 40px 0 40px;
  }

  .screenshot {
    border: var(--imgborder);
    max-width: 100%;
  }

  .screenshot:hover {
    transition: ease-in-out .2s;
    box-shadow: 2px 2px 5px black;
  }

  .link-main {
    margin: 0 10% 0 10%;
  }

  .link-1 {
    margin: 10px 5px 0 0;
    width: 50%;
  }

  .link-2 {
    margin: 10px 0 0 5px;
    width: 50%;
  }

  .link-3 {
    margin: 10px 5px 0 0;
    width: 50%;
  }

  .link-4 {
    margin: 10px 0 0px 5px;
    width: 50%;
  }

.ancestor {
  margin: 0 10% 0 10%;
}

  .link-main:hover,
  .link-1:hover,
  .link-2:hover,
  .link-3:hover,
  .link-4:hover {
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out .2s;
  }

  .column {
    position: relative; /* Default is static, was causing problems with the text-block */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .text-block {
    position: absolute;
    background-color: lightblue;
    color: var(--black);
    bottom: 163px;
    left: 10%;
    padding: 5px 5px 5px 30px;
    z-index: 1;
    text-align: right;
    border-right: solid cornflowerblue 10px;
  }

  .adaptive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 0 10%;
  }

  .adaptive-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 20px 10%
  }

  .placeholder-1 { /* Top, Right, Bottom, Left */
    border: solid lightblue 20px;
    width: 100%;
    vertical-align: bottom;
  }

  .placeholder-2 {
    border: solid lightblue 20px;
    width: 100%;
    vertical-align: bottom;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15% 0 15%;
  }

  .footer-refs-1 {
    text-align: center;
    margin-top: 0.8%;
    flex: 100%;
  }
  
  .footer-refs-2 {
    text-align: center;
    margin-top: 1.0%;
    flex: 100%;
  }

  .git {
    max-width: 20%;
  }
  
  .in {
    max-width: 8%;
  }
}